@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using FitPortal
@using FitPortal.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FitPortal.Areas.Admin.Models.EditClassViewModel
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<form asp-area="Admin" asp-controller="Class" asp-action="EditClass"  class="form-horizontal form-label-left" method="post">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Mã lớp:
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" asp-for="ClassCode"class="form-control col-md-7 col-xs-12">
        @Html.ValidationMessageFor(model => model.ClassCode, "", new { @class = "text-danger" })
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Số lượng:
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="number" asp-for="Quantity"class="form-control col-md-7 col-xs-12">
        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Giáo viên chủ nhiệm:<span class="required" >*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(m => m.TeacherID, (IEnumerable<SelectListItem>) ViewBag.Teacher, new { @class = "col-md-6 col-sm-6 col-xs-12" })
            @Html.ValidationMessageFor(model => model.TeacherID, "", new { @class = "text-danger" })
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Chuyên ngành:<span class="required" >*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.DropDownListFor(m => m.SpecializationID, (IEnumerable<SelectListItem>) ViewBag.Specialization, new { @class = "col-md-6 col-sm-6 col-xs-12" })
            @Html.ValidationMessageFor(model => model.SpecializationID, "", new { @class = "text-danger" })
    </div>
    </div>
    @if (TempData["msg"] != null)
        {
<div class="form-group">
    <span class="text-info">@TempData["msg"]</span>
</div>
        }
    <div class="ln_solid"></div>
    <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
        <button type="submit" class="btn btn-info">Thêm mới</button>
        <a type="button" asp-area="Admin" asp-controller="Class" asp-action="ViewAll" class="btn btn-info">Trở về</a>
    </div>
    </div>
</form>