@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using FitPortal
@using FitPortal.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<FitPortal.Areas.Admin.Models.ClassViewModel>
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<h1>Quản lý lớp học</h1>
<!--Popup start-->
<div class="modal" tabindex="-1" id="form-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!--Popup end-->
    <div class="x_content">
        <table id="datatable" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Mã lớp</th>
                <th>Chỉ số</th>
                <th>Hiện tại</th>
                <th>Chủ nhiệm</th>
                <th>Chuyên ngành</th>
                <th><a href="/admin/class/addclass" class="btn btn-info">Thêm mới lớp học</a></th>
            </tr>
            </thead>
            <tbody>
                @{
                    if(Model != null)
                    {
                        foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.ClassCode</td>
                                <td>@item.Quantity</td>
                                <td>@item.Current</td>
                                <td>@item.Teacher</td>
                                <td>@item.SpecializationName</td>
                                <td>
                                    <a href="/admin/class/editclass?IDClass=@item.Id" class="btn btn-info">Sửa</a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
@section DoanScript{
    <script src="/js/popupCRUD.js"></script>
}
