@using FitPortal.Models.DTO
@using FitPortal.Models
@model HomeViewModel
@{
    ViewData["Title"] = "Trang chủ";
    ViewData["Category"] = Model.categories;
}
  <style>
      .img-post{
          height: 250px;
          width: 250;
          object-fit: cover;
      }
      .describe{
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: elliosis;
      }
  </style>
    <!-- post-banner start -->
    <div class="post-banner-area pd-bottom-55">
        <div class="container">
        @{
            if(Model != null)
            {
                    foreach(var category in Model.categories)
                    {
                        <div class="recent-news-area pd-top-70">
                        <div class="section-title section-title-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="title">@category.CategoryName</h4>
                                </div>
                                <div class="col-sm-6 text-sm-right align-self-center">
                                    <a class="see-all-btn" href="#">Bài viết hiện tại</a>
                                </div>
                            </div>
                        </div>
                        @{
                            foreach(var post in Model.eventList)
                            {
                                if (post.CategoryId == category.Id)
                                {
                                <div class="media-post-wrap-2 media">
                                    <div class="thumb">
                                        <img class="img-post" src="@post.Picture" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h6><a href="/viewpost/view?IDPost=@post.Id">@post.Title</a></h6>
                                        <div class="meta">
                                            <a href="#" class="author">
                                                Malika Hamira   
                                            </a>
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                @post.CreateTime
                                            </div>
                                            <div class="views">
                                                586 Views
                                            </div>
                                        </div>
                                        <p class="describe">@post.Describe</p>
                                    </div>
                                </div>   
                                }
                            }
                        }
                        <a class="load-more-btn" href="/ViewPost/Category?IDCategory=@(category.Id)">xem thêm</a>
                        </div>
                    }
            }
        }
        </div>
    </div>

