@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@using FitPortal.Models.Domain

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> userManager
@{
    ApplicationUser user = new ApplicationUser();
    if (SignInManager.IsSignedIn(User))
    {
        user =await userManager.FindByNameAsync(User.Identity.Name);
    }
    
}

<!DOCTYPE html>
<html lang="en">
  <head>
    @RenderSection("typeNotify",false)
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/adminCustome/production/images/favicon.ico" type="image/ico" />

    <title>FitPortal-UEF | </title>

    <!-- Bootstrap -->
    <link href="/adminCustome/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/adminCustome/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/adminCustome/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/adminCustome/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="/adminCustome/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="/adminCustome/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="/adminCustome/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="/adminCustome/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/adminCustome/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/adminCustome/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="/adminCustome/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker -->
    <link href="/adminCustome/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/adminCustome/build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Fitportal-UEF!</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="@user.ProfilePicture" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>@user.Name</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a asp-area="Admin" asp-controller="AdminHome" asp-action="Index">Trang chủ</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> User và Role <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a asp-area="Admin" asp-controller="Role" asp-action="ViewAll">Danh sách role</a></li>
                      <li><a asp-area="Admin" asp-controller="Role" asp-action="UserRole">Vai trò người dùng</a></li>
                      <li><a asp-area="Admin" asp-controller="User" asp-action="Registration">Đăng ký mới</a></li>
                    </ul>
                  </li>
     
                  <li><a><i class="fa fa-desktop"></i>Bài viết<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a asp-area="Admin" asp-controller="Post" asp-action="ManagePost"> Danh sách</a></li>
                      <li><a asp-area="Admin" asp-controller="Post" asp-action="ManageCategory"> Danh mục</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i>Giảng viên<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a asp-area="Admin" asp-controller="Teacher" asp-action="ViewAll">Danh sách</a></li>
                      <li><a asp-area="Admin" asp-controller="Teacher" asp-action="TeacherPosition">Giảng viên&chuyên ngành</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-clone"></i>Sinh viên <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a asp-area="Admin" asp-controller="Student" asp-action="ViewAll">Danh sách</a></li>
                      <li><a asp-area="Admin" asp-controller="Research" asp-action="Student">NCKH</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Chuyên ngành <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a asp-area="Admin" asp-controller="Specialization" asp-action="ViewAll">Danh sách</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Lớp học <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a asp-area="Admin" asp-controller="Class" asp-action="ViewAll">Danh sách</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Môn học <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a asp-area="Admin" asp-controller="Subject" asp-action="ViewAll">Danh sách</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> Lịch công tác <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a asp-area="Admin" asp-controller="Work" asp-action="ViewAll">Danh sách</a></li>
                      <li><a asp-area="Admin" asp-controller="Work" asp-action="WorkStatus">Trạng thái</a></li>
                      <li><a asp-area="Admin" asp-controller="Work" asp-action="TeacherAssign">Lịch giảng viên</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="@user.ProfilePicture" alt="">@user.Name
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="/Home/Index"> Trang chủ</a></li>
                    <li><a asp-area="Admin" asp-controller="User" asp-action="Logout"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="/adminCustome/production/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="/adminCustome/production/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="/adminCustome/production/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="/adminCustome/production/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
        <div class="right_col" role="main">
        <!-- page content -->
       @RenderBody()
        <!-- /page content -->
        </div>
        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    <!-- jQuery -->
    <script src="/adminCustome/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/adminCustome/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/adminCustome/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/adminCustome/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/adminCustome/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/adminCustome/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/adminCustome/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/adminCustome/vendors/iCheck/icheck.min.js"></script>
    <!-- jQuery Tags Input -->
    <script src="/adminCustome/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="/adminCustome/vendors/switchery/dist/switchery.min.js"></script>
     <!-- Datatables -->
    <script src="/adminCustome/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/adminCustome/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/adminCustome/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/adminCustome/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/adminCustome/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/adminCustome/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/adminCustome/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/adminCustome/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/adminCustome/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/adminCustome/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/adminCustome/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/adminCustome/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/adminCustome/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/adminCustome/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/adminCustome/vendors/pdfmake/build/vfs_fonts.js"></script>
    <!-- Skycons -->
    <script src="/adminCustome/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/adminCustome/vendors/Flot/jquery.flot.js"></script>
    <script src="/adminCustome/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/adminCustome/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/adminCustome/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/adminCustome/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/adminCustome/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/adminCustome/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/adminCustome/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/adminCustome/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/adminCustome/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/adminCustome/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/adminCustome/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/adminCustome/vendors/moment/min/moment.min.js"></script>
    <script src="/adminCustome/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-datetimepicker -->    
    <script src="/adminCustome/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!--Ckeditor-->
    <script src="/Plugin/ckeditor5/ckeditor.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/adminCustome/build/js/custom.min.js"></script>
    <!--Section-->
	@RenderSection("DoanScript",false)
  </body>
</html>
