@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using FitPortal
@using FitPortal.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FitPortal.Areas.Admin.Models.PostViewModel
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
                    <form asp-area="Admin" asp-controller="Post" asp-action="AddPost" enctype="multipart/form-data" class="form-horizontal form-label-left" method="post">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Tên bài viết<span class="required" asp-validation-for="@Model.PostName">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" asp-for="@Model.PostName" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Thể loại<span class="required" >*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          @Html.DropDownListFor(m => m.CategoryID, (IEnumerable<SelectListItem>) ViewBag.CategoryList, new { @class = "col-md-6 col-sm-6 col-xs-12" })
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Mô tả<span class="required" asp-validation-for="@Model.Describe">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" asp-for="@Model.Describe" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Hình ảnh<span class="required" asp-validation-for="@Model.Picture">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="custom-file">
                            <input asp-for="@Model.Picture"  class="custom-file-input">
                            <label class="custom-file-label" for="customeFile">Choose file</label>
                            </div>      
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Nội dung<span class="required" asp-validation-for="@Model.Content">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea class="form-control col-md-7 col-xs-12" asp-for="@Model.Content" id="inputOfContent"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Ngày tạo<span class="required" >*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                <input type="text" asp-for="@Model.DateCreated" class="form-control has-feedback-left" id="single_cal1" aria-describedby="inputSuccess2Status">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                              </div>
                        </div>
                      </div>
                    @if (TempData["msg"] != null)
                         {
                    <div class="form-group">
                       <span class="text-info">@TempData["msg"]</span>
                    </div>
                         }
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-info">Thêm mới</button>
                          <a type="button" class="btn btn-info" asp-area="Admin" asp-controller="Post" asp-action="ManageCategory">
                          Trở về
                          </a>
                        </div>
                      </div>
                    </form>
                    
                    @section DoanScript{
                        <script>
                            //ClassicEditor
                            //    .create(document.querySelector('#inputContent'))
                            //    .catch( error => {console.error(error);});
                            ClassicEditor
                                .create(document.querySelector('#inputOfContent'),
                                {ckfinder: {uploadUrl: '/Admin/Post/UploadImage'}}
                                )
                                .then(editor => { window.editor = editor;})
                                .catch(error => { console.error(error);});
                        </script>
                    }
