@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using FitPortal
@using FitPortal.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<FitPortal.Areas.Admin.Models.SubjectViewModel>
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<!--Popup start-->
<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<!--Popup end-->
<h2>Quản lý môn học</h2>
    <div class="x_content">
        @if(TempData["msg"]!=null)
        {
            <div class="text-danger">@TempData["msg"]</div>
        }
        <table id="datatable" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Mã môn học</th>
                <th>Tên môn học</th>
                <th>Chuyên ngành</th>
                <th><a onclick="showInPopup('@Url.Action("AddSubject","Subject",Context.Request.Scheme)','Thêm mới môn học')" class="btn btn-round btn-info">Thêm mới môn học</a></th>
            </tr>
            </thead>
            <tbody>
                @{
                    if(Model != null)
                    {
                        foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.SubjectCode</td>
                                <td>@item.SubjectName</td>
                                <td>@item.SpecializationName</td>
                                <td>
                                    Xóa sửa
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
@section DoanScript{
    <script src="/js/popupCRUD.js"></script>
}
